<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.name.label }}: {{ form.name() }}</p>
        <p>{{ form.description.label }}: {{ form.description() }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    <a href="{{ url_for('index') }}">Voltar</a>
</body>
</html>